main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

#name {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
    margin-bottom: 20px;
}

#description {
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 40px;
}

#btnHolder {
    display: flex;
    gap: 20px;
}

.mainBtns {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    color: var(--text-color);
    background: hsla(180, 75%, 60%, 0.6);
    cursor: pointer;
}

.mainBtns:hover {
    box-shadow: 4px 4px 0 hsla(180, 75%, 60%, 0.4);
    transform: translate(-4px, -4px);
}
