@media (max-width: 319px) or (max-height: 499px) {
    #screenSizeWarning {
        display: flex;
    }
}

/* Main Page */

@media (min-width: 350px) {
    #description {
        margin-inline: 20px;
    }
    .mainBtns {
        width: 140px;
    }
}

@media (min-width: 500px) or (min-height: 550px) {
    .mainBtns {
        width: 160px;
    }
}

@media (min-width: 600px) and (min-height: 600px) {
    #name {
        font-size: 48px;
    }
    #description {
        font-size: 24px;
    }
}

@media (min-width: 1000px) and (min-height: 1000px) {
    #name {
        font-size: 64px;
    }
    #description {
        font-size: 32px;
    }
    .mainBtns {
        width: 180px;
        font-size: 18px;
    }
}

/* Projects Page */

@media (max-width: 400px) {
    .project {
        scale: 0.9;
    }
}


/* Contact Page */

@media (min-width: 600px) and (min-height: 550px) {
    #formTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }
    #formSubtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .formFields {
        font-size: 14px;
        margin: 20px;
    }
    #submitBtn {
        font-size: 16px;
        margin: 20px;
    }
}
